<!--[if gte IE 6]>
  <script type="text/javascript">
    console.log("ie true")
    window.location = "http://www.google.com/";
  </script>
<![endif]-->
<h1>Yeezy Codes</h1>
<h2>Learn different web devolpment languages in a ...</h2>

<h4>Languages</h4>
<ul>
    <p><a href="tutorials/angular">AngularJS</a></p>
    <p><a href="tutorials/css">CSS3</a></p>
    <p><a href="tutorials/html">HTML5</a></p>
    <p><a href="tutorials/js">JavaScript</a></p>

</ul>
<p>Yeezy Code is easy to use. You will be able to make websites, mobile apps and animations!</p>
