<!-- google-analytics -->
<script>
    (function (i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r;
        i[r] = i[r] || function () {
            (i[r].q = i[r].q || []).push(arguments)
        },
        i[r].l = 1 * new Date();
        a = s.createElement(o),
        m = s.getElementsByTagName(o)[0];
        a.async = 1;
        a.src = g;
        m.parentNode.insertBefore(a, m)
    })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-72779894-1', 'auto');
    ga('send', 'pageview');
</script>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<div class="home-view">
    <h1>Yeezy Codes</h1>
    <p>Learn different web development languages in ...</p>

    <h4>Languages</h4>
    <div class="tut-box box-1">
        <p>
            <a href="tutorials/angular">AngularJS</a>
        </p>
    </div>
    <div class="tut-box">
        <p>
            <a href="tutorials/css">CSS3</a>
        </p>
    </div>
    <div class="tut-box box-1">
        <p>
            <a href="tutorials/html">HTML5</a>
        </p>
    </div>
    <div class="tut-box">
        <p>
            <a href="tutorials/js">JavaScript</a>
        </p>
    </div>
    <p class="info">Yeezy Code is easy to use. You will be able to make websites, mobile apps, and animations!</p>
    <div class="footer">
      <p class="foot1"> Copyright 2016 YeezyCodes </p>
      <p class="foot"> This site has no affilation with the brand "Yeezy" or "Kanye West"</p>
    </div>
</div>
