<!DOCTYPE html>

<head>
  <p>Sign In/Sign Up</p>
  <h1>Yeezy Codes</h1>
  <h2>Learn different web development languages in a ...</h2>
</head>

<body>
<p>Languages</p>
<ul>
  <p><a href = "http://yeezycodes.herokuapp.com/tutorials/angular">AngularJS</a></p>
  <p><a href = "http://yeezycodes.herokuapp.com/tutorials/css">CSS3</a></p>
  <p><a href = "http://yeezycodes.herokuapp.com/tutorials/html">HTML5</a></p>
  <p><a href = "http://yeezycodes.herokuapp.com/tutorials/javascript">Javascript</a></p>
</ul>
<p>Yeezy Code is easy to use. You can learn to make websites, mobile apps, and animations!</p>
</body>
