<head>

</head>
<body>
<h1>Yeezy Codes</h1>
<h2>Learn different web devolpment languages in a ...</h2>

<h4>Languages</h4>
<ul>
    <p><a href="angular.html.erb">AngularJS</a></p>
    <p><a href="css.html.erb">CSS3</a></p>
    <p><a href="html.html.erb">HTML5</a></p>
    <p><a href="js.html.erb">JavaScript</a></p>

</ul>
<p>Yeezy Code is easy to use. You will be able to make websites, mobile apps and animations!</p>
</body>
