<body>
<h1>Yeezy Codes</h1>
<h2>Learn different web devolpment languages in a ...</h2>

<h4>Languages</h4>
  <p>AngularJS</p>
  <p>CSS3</p>
  <p>HTML5</p>
  <p>Javascript</p>

<p>Yeezy Code is easy to use. You can learn to make websites, mobile apps and animations!</p>
</body>
