@import url(https://fonts.googleapis.com/css?family=Roboto);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  position: relative;
  font-family: 'Roboto', sans-serif;
}
body {
  background-color: #f2f2f0;
  margin-top: 50px;
}
.wrap {
  max-width: 64em;
  width: 100%;
  margin: 0 auto;
}
h1 {
  letter-spacing: 1px;
}
button {
  cursor: pointer;
  background-color: #fa0213;
  border: none;
  border-radius: 5px;
  padding: 10px;
  color: #f2f2f0;
  transition: all 0.3s;
}
button:hover {
  background-color: #ae010d;
}
nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 50px;
  background-color: #333;
  z-index: 9999;
}
nav a {
  color: #d0d0d0;
  line-height: 50px;
  height: 50px;
  display: inline-block;
  text-decoration: none;
  padding: 0 10px;
  border-bottom: 0px solid #d0d0d0;
  padding-bottom: 0px;
  transition: all 0.3s;
}
nav a:hover {
  border-bottom-width: 3px;
}
nav a.home {
  font-weight: bolder;
  letter-spacing: 1px;
}
nav .links {
  float: right;
  display: inline-block;
}
#yeezyhead {
  height: calc(100vh - 50px);
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../images/yeezy-alt-bg.jpg');
  background-size: cover;
  background-position: center;
}
#yeezyhead .content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #f2f2f0;
  text-align: center;
}
#yeezyhead .content h1 {
  font-size: 62px;
  margin: 15px 0;
  margin-bottom: 0;
}
#yeezyhead .content p {
  margin: 15px 0;
}
#yeezyhead .content button {
  background-color: #fa0213;
  font-size: 16px;
  min-width: 150px;
}
#yeezyhead .content button:hover {
  background-color: #ae010d;
}
