/* FONTS */
/*@import url("http://fonts.googleapis.com/css?family=Roboto+Slab|Open+Sans:400italic,700italic,400,700");*/
@import url("https://fonts.googleapis.com/css?family=PT+Sans");
@import url("https://fonts.googleapis.com/css?family=PT+Mono");
/* line 6, /home/samallen/Desktop/Code/Ruby/YeezyCodes/app/assets/stylesheets/_reset.scss */
* {
  margin: 0;
  padding: 0;
}

/* line 10, /home/samallen/Desktop/Code/Ruby/YeezyCodes/app/assets/stylesheets/_reset.scss */
html, body {
  height: 100%;
  width: 100%;
  font-family: 'PT Sans', sans-serif;
  color: #333;
}

/*$roboto-slab: 'Roboto Slab', serif;
$open-sans: 'Open Sans', sans-serif;

// Styles
body {
  font-family: $body-font;
  font-weight: normal;
}
h1, h2, h3, h4, h5, h6 {
  font-family: $header-font;
  font-weight: normal;
}

.button {
  font-family: $roboto-slab;
  font-weight: bold;
}*/
/* line 4, /home/samallen/Desktop/Code/Ruby/YeezyCodes/app/assets/stylesheets/base.scss */
h1 {
  font-size: 50px;
  text-align: center;
  margin: auto;
  line-height: 1.6em;
  padding: 20px 0;
}

/* line 11, /home/samallen/Desktop/Code/Ruby/YeezyCodes/app/assets/stylesheets/base.scss */
h2 {
  font-size: 30px;
  text-align: center;
  line-height: 1.6em;
  padding: 20px 0;
}

/* line 17, /home/samallen/Desktop/Code/Ruby/YeezyCodes/app/assets/stylesheets/base.scss */
h4 {
  text-align: center;
  font-size: 35px;
  line-height: 1.6em;
  padding: 20px 0;
}

/* line 23, /home/samallen/Desktop/Code/Ruby/YeezyCodes/app/assets/stylesheets/base.scss */
ul {
  font-size: 20px;
}

/* line 26, /home/samallen/Desktop/Code/Ruby/YeezyCodes/app/assets/stylesheets/base.scss */
p {
  font-size: 20px;
  line-height: 1.6em;
  padding-bottom: 20px;
}

/* line 31, /home/samallen/Desktop/Code/Ruby/YeezyCodes/app/assets/stylesheets/base.scss */
a {
  color: black;
  text-decoration: none;
}

/* line 35, /home/samallen/Desktop/Code/Ruby/YeezyCodes/app/assets/stylesheets/base.scss */
a:hover {
  background-color: red;
}

/* line 39, /home/samallen/Desktop/Code/Ruby/YeezyCodes/app/assets/stylesheets/base.scss */
button {
  background-color: #fff;
  border: solid 2px #9b59b6;
  padding: 10px 20px;
  color: #9b59b6;
  font-size: 10px;
  font-weight: bold;
  letter-spacing: 2px;
  text-transform: uppercase;
  border-radius: 4px;
  margin-bottom: 20px;
}
/* FONTS */
/*@import url("http://fonts.googleapis.com/css?family=Roboto+Slab|Open+Sans:400italic,700italic,400,700");*/
@import url("https://fonts.googleapis.com/css?family=PT+Sans");
@import url("https://fonts.googleapis.com/css?family=PT+Mono");
/* line 5, /home/samallen/Desktop/Code/Ruby/YeezyCodes/app/assets/stylesheets/_reset.scss */
* {
  margin: 0;
  padding: 0;
}

/* line 9, /home/samallen/Desktop/Code/Ruby/YeezyCodes/app/assets/stylesheets/_reset.scss */
html, body {
  height: 100%;
  width: 100%;
  font-family: 'PT Sans', sans-serif;
  color: #333;
}

/*$roboto-slab: 'Roboto Slab', serif;
$open-sans: 'Open Sans', sans-serif;

// Styles
body {
  font-family: $body-font;
  font-weight: normal;
}
h1, h2, h3, h4, h5, h6 {
  font-family: $header-font;
  font-weight: normal;
}

.button {
  font-family: $roboto-slab;
  font-weight: bold;
}*/
/* line 7, /home/samallen/Desktop/Code/Ruby/YeezyCodes/app/assets/stylesheets/tutorials.scss */
#example_of_angular {
  position: relative;
  height: 100px;
  margin-top: 30px;
  margin-bottom: 50px;
  font-size: 20px;
}

/* line 14, /home/samallen/Desktop/Code/Ruby/YeezyCodes/app/assets/stylesheets/tutorials.scss */
.home {
  width: 60%;
  margin: 0 auto;
}

/* line 18, /home/samallen/Desktop/Code/Ruby/YeezyCodes/app/assets/stylesheets/tutorials.scss */
.tab-section {
  width: 100%;
}

/* line 21, /home/samallen/Desktop/Code/Ruby/YeezyCodes/app/assets/stylesheets/tutorials.scss */
.tab-wrap .tab-section {
  display: none;
}

/* line 24, /home/samallen/Desktop/Code/Ruby/YeezyCodes/app/assets/stylesheets/tutorials.scss */
.tab-section.active {
  display: block;
}

/* line 27, /home/samallen/Desktop/Code/Ruby/YeezyCodes/app/assets/stylesheets/tutorials.scss */
#start_angular_js {
  position: absolute;
  height: 20%;
  width: 60%;
  margin-top: 0;
}

/* line 33, /home/samallen/Desktop/Code/Ruby/YeezyCodes/app/assets/stylesheets/tutorials.scss */
#start_angular_html {
  position: absolute;
  height: 20%;
  width: 60%;
  margin-top: 0;
}

/* line 39, /home/samallen/Desktop/Code/Ruby/YeezyCodes/app/assets/stylesheets/tutorials.scss */
#htmlExample {
  position: absolute;
  height: 200px;
  width: 400px;
}

/* line 44, /home/samallen/Desktop/Code/Ruby/YeezyCodes/app/assets/stylesheets/tutorials.scss */
.tab {
  color: white;
  float: left;
  height: 50px;
  width: 50px;
  background-color: black;
}

/* line 51, /home/samallen/Desktop/Code/Ruby/YeezyCodes/app/assets/stylesheets/tutorials.scss */
.showDiv {
  font-family: "PT Mono", monospace;
  font-size: 15px;
  padding: 20px;
  border: solid 2px #ecf0f1;
  color: #aaa;
  border-radius: 4px;
  margin-bottom: 20px;
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *


 */

 [ng\:cloak],
 [ng-cloak],
 [data-ng-cloak],
 [x-ng-cloak],
 .ng-cloak,
 .x-ng-cloak {
   display: none !important;
 }
 .fade-ng-cloak {
   opacity: 1;
   -ms-filter: none;
   -webkit-filter: none;
           filter: none;
   -webkit-transition: opacity 0.5s;
   transition: opacity 0.5s;
 }
 .fade-ng-cloak[ng-cloak] {
   display: block !important;
   opacity: 0;
   -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
   filter: alpha(opacity=0);
 }
 .fade-ng-cloak.ng-cloak,
 .fade-ng-cloak.ng-binding {
     opacity: 0;
     transition: opacity 800ms ease-in-out;
 }
 .fade-ng-cloak.ng-binding {
     opacity: 1;
 }
 html, body {
   font-size: 20px;
 }

 .ie {
   background-color:red;
   z-index: 100000;
 }
