@import url(https://fonts.googleapis.com/css?family=Roboto);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  position: relative;
  font-family: 'Roboto', sans-serif;
}

// Yeezy Colors
@yeezyWhite: #F2F2F0;
@yeezyOrange: #F54702;
@yeezyDarkOrange: darken(@yeezyOrange, 5);
@yeezyRed: #FA0213;
@yeezyDarkRed: darken(@yeezyRed, 15);
@yeezyBlue: #09131C;

@yeezyGray: #D0D0D0;
@yeezyDarkGray: #8b8b8b;

@gridWidth: 64em;
@navHeight: 50px;

body {
  background-color: @yeezyWhite;
  &.not-home {
    margin-top: @navHeight + 10px;
  }
}

.wrap {
  max-width: @gridWidth;
  width: 100%;
  margin: 0 auto;

}

h1 {
  letter-spacing: 1px;
}

button {
  cursor: pointer;
  background-color: @yeezyRed;
  border: none;
  border-radius: 5px;
  padding: 10px;
  color: @yeezyWhite;

  transition: all 0.3s;

  &:hover {
    background-color: @yeezyDarkRed;
  }
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: @navHeight;
  background-color: #333;

  z-index: 9999;

  a {
    color: @yeezyGray;
    line-height: @navHeight;
    height: @navHeight;
    display: inline-block;
    text-decoration: none;
    padding: 0 10px;
    border-bottom: 0px solid @yeezyGray;
    padding-bottom: 0px;

    transition: all 0.3s;

    &:hover {
      border-bottom-width: 3px;
    }
  }
}

#yeezyhead {
  height: 100vh;
  background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('../images/yeezy-alt-bg.jpg');
  background-size: cover;
  background-position: center;

  .content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: @yeezyWhite;
    text-align: center;

    h1 {
      font-size: 62px;
      margin: 15px 0;
      margin-bottom: 0;
    }

    p {
      margin: 15px 0;
    }

    button {
      background-color: @yeezyRed;
      font-size: 16px;
      min-width: 150px;

      &:hover {
        background-color: @yeezyDarkRed;
      }
    }

  }
}