<html ng-app="app">
<head>
  <!-- loads javascript from the vendor file  -->
  <!-- ONLY LOAD ON THIS PAGE OR OTHER JAVAVSCRIPT TUTORIALS -->
  <script src="<%= asset_path 'angular.js' %>"></script>
</head>

<body ng-controller="testing">

  <p>{{name}}</p>
  <script>
    var app = angular.module('app', []);
    app.controller('testing', function($scope) {
      $scope.name = "testing angular"
    });
    </script>

</body>
<html>
