<div id="ng-app" data-module="bothModules" class="home">
  <h2>AngularJS Tutorial</h2>
  <a href="/">Go Back</a>
  <p>
    Welcome to the Angular tutorial! This tutorial will teach you how to use AngularJS. AngularJS is a JavaScript framework. If you haven't learned the basics of JavaScript I'd HIGHLY recommend learning a bit of Javascript. For starters, Angular is a
    platform that binds the Javascript to the HTML and the HTML to the Javascript. This allows you to call JavaScript functions from anywhere in the code on any sort of event, or modify the HTML with Javascript. We will cover that later but for now,
    let's dive right in!
  </p>
  <br>
  <div ng-controller="testing">
    <change-font-size>
    </change-font-size>

    <div ng-class="{ 'fadeIn': showNewDiv }" class="showNewDiv" ng-cloak>
      Wow isn't that cool :D
    </div>
    <p>
      Change the statement to true, and try it!
    </p>
    <button ng-click="runCode('example_of_angular')">Click to run!</button>
    <br>

    <div ng-cloak class="all-editors-class tab-section" id="example_of_angular">$scope.showNewDiv = false;</div>
    <div class="errorDiv" id="style-example_of_angular" ng-cloak>
      {{example_of_angular || 'Error feedback will be located here!'}}
    </div>
    <p>
      What you saw was one of the main things angular wants to acomplish, the binding of data. What does this mean? Basically Angular wants important data to be able to be accessed from both the JavaScript and HTML.
    </p>
    <br>
    Now it's time to dive right in on how to create an angular app!
    <div class="tab-wrap">
      <div class="tab" data-tab-reference="tab_1">app.js</div>
      <div class="tab" data-tab-reference="tab_2">index.html</div>
      <br>
      <br>
      <div class="tab-section active" data-tab-id="tab_1">
        <div class="all-editors-class" data-tab-name="section-one" id="start_angular_js"></div>
      </div>
      <div class="tab-section" data-tab-id="tab_2">
        <div class="all-editors-class" data-tab-name="section-two" id="start_angular_html"></div>
      </div>
    </div>
  </div>

  <!-- loads javascript from the vendor file  -->
  <!-- ONLY LOAD ON THIS PAGE OR OTHER JAVAVSCRIPT TUTORIALS -->
  <!-- this also includes the ace editor -->
  <%= javascript_include_tag 'compile-routes/super-compile-route', 'data-turbolinks-track' => false %>
  <%= javascript_include_tag 'editors/angular-page', 'data-turbolinks-track' => true %>
</div>
