<html ng-app="app">
<head>
  <!-- loads javascript from the vendor file  -->
  <!-- ONLY LOAD ON THIS PAGE OR OTHER JAVAVSCRIPT TUTORIALS -->
  <%= javascript_include_tag 'angular-compile-route', 'data-turbolinks-track' => true %>
  <!-- inclues the ace editor -->
  <%= javascript_include_tag 'ace-compile-route', 'data-turbolinks-track' => true %>
</head>

<body ng-controller="testing">

  <!-- textare that contains the code -->
  <textarea type="text"
            ng-model="angular_example"
            ng-model-options="{ debounce: 1000 }">
  </textarea>

  <div ng-show="showNewDiv">
    OIIIII IT WORKS BRO
  </div>

</body>
<html>
