<% if mobile_device? %>
    <%= mobile! %>
<% end %>
<div id="ng-app" class="home" data-module="cssModule">
  <div ng-controller="cssBind" id="cssBind">
    <h2>CSS Tutorial</h2>
    <a href="/">Go Back</a>
    <change-font-size>
    </change-font-size>
    <br>
    <span ng-bind-html="cssExample"></span>
    <br>
    <br>
    <!-- editor that binds css to page -->
    <div class="bind-css all-editors-class" id="cssExample" onkeyup="cssKeyUpEventListener(this);">
    </div>
  </div>
</div>
</div>

<%= javascript_include_tag '/assets/compile-routes/super-compile-route', 'data-turbolinks-track' => false %>
<%= javascript_include_tag '/assets/editors/css-page', 'data-turbolinks-track' => true %>
