<html ng-app="html">
<body>
  
  <%= javascript_include_tag 'compile-routes/super-compile-route', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'compile-routes/html-compile-route', 'data-turbolinks-track' => true %>
</body>
</html>
