Welcome to get started please pick a font size this is something you'll only need to do once
<form>
  <input placeholder="12" type="number" min="8" max="30" onchange="changeFontSize(this.value)" />
</form>
<%= javascript_include_tag 'super-compile-route', 'data-turbolinks-track' => true %>
