<body ng-app="javascriptModule">
  <div id="javascriptExample"></div>
  <%= javascript_include_tag 'super-compile-route', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'javascript-page', 'data-turbolinks-track' => true %>
</body>
