// Editors in order of appearance on page

// ALL EDITORS
.all-editors-class {
  position: relative;
  margin-bottom: 5px;
  height: 200px;
  font-size: 20px;
  width: 100%;
}

// JAVASCRIPT PAGE
#javascriptExample {
  @extend .all-editors-class;
  height: 400px;
}

// ANGULAR PAGE
#example_of_angular {
  @extend .all-editors-class;
  height: 100px;
  margin-bottom: 5px;
  font-size: 20px;
}
#start_angular_js {
  @extend .all-editors-class;
  position: absolute;
  height: 450px;
  width: 60%;
}
#start_angular_html {
  @extend .all-editors-class;
  width: 60%;
  position: absolute;
  height: 450px;
}

// HTML PAGE
#htmlExample {
  @extend .all-editors-class;
  height: 400px;
}

#bigLoad {
  @extend .all-editors-class;
  height: 750px;
}

// CSS PAGE
#cssExample {
  @extend .all-editors-class;
  height: 500px;
}
