/* FONTS */
/*@import url("http://fonts.googleapis.com/css?family=Roboto+Slab|Open+Sans:400italic,700italic,400,700");*/
@import url("https://fonts.googleapis.com/css?family=PT+Sans");
@import url("https://fonts.googleapis.com/css?family=PT+Mono");
* {
  margin: 0;
  padding: 0;
}
html,body {
    height: 100%;
    width: 100%;
    font-family: 'PT Sans', sans-serif;
    color: #333;
}
button {
    background-color: #fff;
    border: solid 2px #9b59b6;
    padding: 10px 20px;
    color: #9b59b6;
    font-size: 10px;
    font-weight: bold;
    letter-spacing: 2px;
    text-transform: uppercase;
    border-radius: 4px;
    margin-bottom: 20px;
}
input {
  border: 2px solid #9b59b6;
  color: black;
  background: rgba(252,252,252,1);
  height: 30px;
  width: 45px;
  text-align: center;
  border-radius: 5px;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
li:hover {
  background-color: #111;
}
// Font Variables
/*$roboto-slab: 'Roboto Slab', serif;
$open-sans: 'Open Sans', sans-serif;

// Styles
body {
  font-family: $body-font;
  font-weight: normal;
}
h1, h2, h3, h4, h5, h6 {
  font-family: $header-font;
  font-weight: normal;
}

.button {
  font-family: $roboto-slab;
  font-weight: bold;
}*/
