/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 [ng\:cloak],
 [ng-cloak],
 [data-ng-cloak],
 [x-ng-cloak],
 .ng-cloak,
 .x-ng-cloak {
   display: none !important;
 }
 .fade-ng-cloak {
   opacity: 1;
   -ms-filter: none;
   -webkit-filter: none;
           filter: none;
   -webkit-transition: opacity 0.5s;
   transition: opacity 0.5s;
 }
 .fade-ng-cloak[ng-cloak] {
   display: block !important;
   opacity: 0;
   -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
   filter: alpha(opacity=0);
 }
 .fade-ng-cloak.ng-cloak,
 .fade-ng-cloak.ng-binding {
     opacity: 0;
     transition: opacity 800ms ease-in-out;
 }
 .fade-ng-cloak.ng-binding {
     opacity: 1;
 }
 html, body {
   font-size: 20px;
 }
