// Place all the styles related to the tutorials controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#example_of_angular {
    position: absolute;
    height: 20%;
    width: 60%;
    margin-top: 30px;
}
