// Place all the styles related to the tutorials controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "reset";
@import "mixins";
@import "editors";
.home {
  width: 60%;
  margin: 0 auto;
}
.tab-section {
  width: 100%;
}
.tab-wrap .tab-section {
  display: none;
}
.tab-section.active {
  display: block;
}
.tab {
  color: white;
  display: table-row-group;
  height: 30px;
  width: 50px;
  background-color: black;
}
.errorDiv {
  font-family: "PT Mono", monospace;
  font-size: 15px;
  padding: 20px;
  border: solid 2px #ecf0f1;
  color: #aaa;
  @include border-radius(4px);
  margin-bottom: 5px;
  height: 0;
}
.showNewDiv {
  font-family: "PT Mono", monospace;
  font-size: 15px;
  padding: 20px;
  border: solid 2px #9b59b6;
  width: 500px;
  @include border-radius(4px);
  display: none;
  opacity: 0;
  height: 0;
  display: none;
}

/* FADE IN STUFF FOR FIRST DIV */
.fadeIn {
  height: 30px;
  display: block;
  opacity: 1;
  -webkit-animation: fadeInFromNone 2s ease-out;
   -moz-animation: fadeInFromNone 2s ease-out;
   -o-animation: fadeInFromNone 2s ease-out;
   animation: fadeInFromNone 2s ease-out;
}
@-webkit-keyframes fadeInFromNone {
    0% {
        display: none;
        opacity: 0;
    }

    1% {
        display: block;
        opacity: 0;
    }

    100% {
        display: block;
        opacity: 1;
    }
}

@-moz-keyframes fadeInFromNone {
    0% {
        display: none;
        opacity: 0;
    }

    1% {
        display: block;
        opacity: 0;
    }

    100% {
        display: block;
        opacity: 1;
    }
}

@-o-keyframes fadeInFromNone {
    0% {
        display: none;
        opacity: 0;
    }

    1% {
        display: block;
        opacity: 0;
    }

    100% {
        display: block;
        opacity: 1;
    }
}

@keyframes fadeInFromNone {
    0% {
        display: none;
        opacity: 0;
    }

    1% {
        display: block;
        opacity: 0;
    }

    100% {
        display: block;
        opacity: 1;
    }
}
