// Place all the styles related to the tutorials controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#example_of_angular {
    position: relative;
    height: 100px;
    width: 400px;
    margin-top: 30px;
    margin-bottom: 50px;
}

#htmlExample {
    position: relative;
    height: 20%;
    width: 60%;
    margin-top: 0;
}
.tab-section {

}
.tab-wrap .tab-section {
  display: none;
}

.tab-section.active {
  display: block;
}

#start_angular_js {
  position: absolute;
  height: 20%;
  width: 60%;
  margin-top: 0;
}

#start_angular_html {
  position: absolute;
  height: 20%;
  width: 60%;
  margin-top: 0;
}
.tab {
  color: white;
  float: left;
  height: 50px;
  width: 50px;
  background-color: black;
}
